<p style="color: green"><%= notice %></p>

<%= render @flat %>
<%= link_to "Book Now", new_flat_booking_path(@flat), class: "btn btn-gradient" %>

<div>
  <% if policy(@flat).edit? %>
    <%= link_to "Edit this flat", edit_flat_path(@flat) %> |
  <% end %>
  <%= button_to "Destroy this flat", @flat, method: :delete if policy(@flat).destroy? %>
  <%= link_to "Back to flats", flats_path %>
</div>
